In [26]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [4]:
df.shape

(9704, 11)

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [7]:
df['model_year'].unique()

array([2003, 2007, 2018, 2009, 2008, 2012, 2020, 2016, 2005, 2014, 2010,
       2000, 2006, 2013, 2011, 2004, 2002, 2022, 2017, 2001, 2023, 2019,
       2015, 2021])

In [8]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [10]:
df['horsepower'].median()

np.float64(149.0)

In [11]:
mode = df['horsepower'].mode()

In [12]:
df.fillna({'horsepower': mode}, inplace=True)

In [13]:
df['horsepower'].median()

np.float64(149.0)

In [14]:
asian_cars = df[df['origin']=='Asia']

In [15]:
asian_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [17]:
features = ['vehicle_weight', 'model_year']
features_df = asian_cars[features]

In [21]:
features_df.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [22]:
X = features_df[:7].values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [23]:
X.shape

(7, 2)

In [24]:
XTX=X.T@X

In [25]:
XTX

array([[62248334.33150761, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [27]:
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [30]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [31]:
y.shape

(7,)

In [32]:
w = (XTX_inv@X.T)@y

In [33]:
w

array([0.01386421, 0.5049067 ])

In [34]:
sum(w)

np.float64(0.5187709081074006)